html, .content {
    width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0px;
}

body {
    font-family: 'Lato', 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    background-color: #0000fd;
    opacity: 0.75;
    color: white;
}

.navbar {
    font-size: 1.2em;
    padding: 50px 55px 0;
}

.headline {
    padding: 150px 0px 348px 0px;
}

.headline h1 {
    font-family: Lato;
    font-size: 10.5em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -5px;
}

.headline p {
    opacity: 0.7;
    font-family: Poppins;
    font-size: 1.5em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.;
    letter-spacing: 0.18px;
}

.headline a, .one a, .base a {
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: 4.2px;
    color: #ffffff;
    padding: 27px 45px;
    border-radius: 36px;
    background-color: #0037ff;
}

.one, .two, .three, .four, .five, .base {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one h3 + p, .two h2 {
    color: #000000;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
}

.one h3 {
    font-family: Lato;
    font-size: 5.6em;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: normal;
    padding: 0px 55px 24px;
}

.one p {
    opacity: 0.5;
    font-family: Poppins;
    font-size: 2.2em;
    line-height: 1.56;
    letter-spacing: 0.16px;
    padding: 0px 55px 50px;
}

.one a {
    margin: 0px 55px 100px;
}

.two {
    background-color: #fafafa;
}

.two h2 {
    font-family: Lato;
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    margin: 77px 0 12px;
}

.two h2 + p {
    font-family: Poppins;
    font-size: 1em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.16px;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
    opacity: 65%;
}

.blocks {
    padding: 50px 55px 105px;
}

.block {
    border: solid 0.5px #cecece;
    background-color: #ffffff;
}

.block img {
    padding: 67px 0 27px;
}

.block p:first-of-type {
    font-family: Lato;
    font-size: 1.4em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 0.45px;
    color: #000000;
    opacity: 0.8;
    padding-bottom: 10px;
}

.block p:last-of-type {
    opacity: 0.65;
    font-family: Poppins;
    font-size: 1.2em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.16px;
    color: #000000;
    padding: 0px 60px 44px;
}

.three {
    background-image: url(/images/Image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.play {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 50px solid transparent;
    border-left: 90px solid white;
    border-bottom: 50px solid transparent;
    margin-top: 215px;
    margin-bottom: 68px;
}

.three h3 {
    font-family: Lato;
    font-size: 2.2em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 10px;
}

.three p {
    font-family: Poppins;
    font-size: 1.1em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.16px;
    color: #ffffff;
    padding-bottom: 20px;
    margin-bottom: 132px;
}

.four {
    background-color: #fafafa;
}

.four h2 {
    font-family: Lato;
    font-size: 2.2em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
    margin-top: 80px;
    padding-bottom: 10px;
}

.four p {
    opacity: 0.65;
    font-family: Poppins;
    font-size: 1em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.16px;
    color: #000000;
    padding-bottom: 20px;
    margin-bottom: 68px;
}

.base h3 {
    font-family: Lato;
    font-size: 5.6em;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: normal;
    padding: 0px 55px 24px;
}

.base p {
    opacity: 0.5;
    font-family: Poppins;
    font-size: 2.2em;
    line-height: 1.56;
    letter-spacing: 0.16px;
    padding: 0px 55px 50px;
}

.base a {
    margin: 0px 55px 100px;
}

footer {
    background-color: #325dff;
    padding-bottom: 1rem!important;
}

footer p {
    opacity: 0.52;
    font-family: Poppins;
    font-size: 1.3em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
}